{% extends 'base.twig' %}

{% block mainContent %}
  <div class="container">
    <div class="row washableContainer">

      {% set imageContent %}
        <img src="images/index/artisanal_callout.png" />
      {% endset %}

      {% include 'index/productCallout.twig' with {
        'productClass': 'artisanal',
        'href': '/artisanal.php',
        'imageContent': imageContent,
        'largeTitle': 'We Build',
        'smallTitle': 'Your Dream Website',
        'callToAction': 'Find Out More'
      } %}

      {% set imageContent %}
        <img src="images/index/software_callout.png" />
      {% endset %}

      {% include 'index/productCallout.twig' with {
        'productClass': 'software',
        'href': 'http://www.builders-software.com/',
        'target': '_blank',
        'imageContent': imageContent,
        'largeTitle': 'Easy Estimating',
        'smallTitle': 'With Great Software',
        'callToAction': 'Check It Out'
      } %}

      {% set imageContent %}
        <img src="images/index/training_callout.png" />
      {% endset %}

      {% include 'index/productCallout.twig' with {
        'productClass': 'training',
        'href': 'http://www.teambse.com/training.php',
        'target': '_blank',
        'imageContent': imageContent,
        'largeTitle': 'Comprehensive',
        'smallTitle': 'Training for Builders',
        'callToAction': 'Get Started'
      } %}

      {% set imageContent %}
        <img src="images/index/photos_callout.jpg" />
      {% endset %}

      {% include 'index/productCallout.twig' with {
        'productClass': 'photos',
        'href': 'http://www.teambse.com/avservices.php',
        'target': '_blank',
        'imageContent': imageContent,
        'largeTitle': 'Professional',
        'smallTitle': 'Photography Services',
        'callToAction': 'See Our Services'
      } %}
    </div>

    <div class="row">
      <div class="container tagline">
        <h1>Providing Solutions for Home Builders</h1>
        <h2 class="phone">{{ config.contactMethods.phone.value }}</h2>
        <h2>Everything we do comes down to one thing: <span class="emphasis">We Help Builders</span></h2>
        <p>Where else can you hire a team of designers, copywriters, technology experts, sales, marketing, and administrators
          all for a minimal set-up and a low monthly fee? Our team puts the builder first and works hard to provide the best
          websites, software, and training in the industry.</p>

        {% include 'widgets/inlineContact.twig' %}
      </div>
    </div>

    {% include 'artisanal/featured.twig' %}

  </div>
{% endblock %}