<!DOCTYPE html>
<html>
<head>
    <title>Builder Professional - Software, Websites, and Online Tools for Home Builders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' id='vector-icons-css' href='css/style.css' type='text/css' media='all'/>
    <link rel="icon" type="image/png" href="images/houseicon.png" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/npm.js"></script>
</head>

<body class="{% if extra.product is defined %}product-{{ extra.product }}{% else %}product-none{% endif %}">
    {% include 'header.twig' %}
    {% block mainContent %}{% endblock %}
    {% include 'footer.twig' %}
</body>
</html>

