<header id="navbar" role="banner" class="navbar container navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="logo navbar-brand" href="/" title="Home">
                <img src="images/BPLogo_transparent.png" alt="Home"/>
            </a>

            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse">
            <nav role="navigation">
                <ul class="menu nav pull-right navbar-nav primary-nav">
                    <li class="first leaf active-trail active"><a href="/home" title="" class="active-trail active">Home</a></li>
                    <li class="leaf"><a href="/websites" title="">Artisanal Websites</a></li>
                    <li class="last leaf"><a href="/training" title="">Training</a></li>
                    <li class="last leaf"><a href="/software" title="">Software</a></li>
                    <li class="last leaf"><a href="/photography" title="">Photography</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>