{% extends "base.twig" %}

{% block mainContent %}
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="alert alert-success">Your Signup has been processed successfully!</div>
        <p>Thank you for choosing Builder Professional. If you have any questions or issues, please don't hesitate to
          contact us at sales@builderprofessional.com or (844) 63-BUILD.</p>
      </div>
    </div>
  </div>

{% endblock %}