<div class="row">
  <div class="container featuredArtisanalSites">
    <h3>Featured Artisanal Sites</h3>

    <div class="row">
      <div class="container washableContainer">
        <div class="featuredSite washable">
          <a target="_blank" href="http://www.eliteirondoors.com/"><img src="images/index/featured_eliteirondoors.jpg" /></a>
        </div>
        <div class="featuredSite washable">
          <a target="_blank" href="http://arlingtonpavers.com/"><img src="images/index/featured_arlingtonpavers.jpg" /></a>
        </div>
        <div class="featuredSite washable">
          <a target="_blank" href="http://ichroofing.com/"><img src="images/index/featured_ichroofing.jpg" /></a>
        </div>
      </div>
    </div>
  </div>
</div>